html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	position: relative;
	font-family: monospace;
}

header {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: black;
	color: white;
	padding: 0 .5em;
	box-sizing: border-box;
	border-bottom: 3px solid #666;
}

#navicon {
	color: #FFF;
	text-decoration: none;
}

content {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
}

#firepad-container {
	width: 50%;
	height: 100%;
	box-sizing: border-box;
}

#result-container {
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	border: none;
}

.cm-s-ambiance .CodeMirror-linenumber {
	color: #CCC;
}