html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.1em;
}

body {
	margin: 0;
	height: 100%;
	position: relative;
	font-family: monospace;
}

header {
	height: 3.5em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1a1a1a;
	color: white;
	padding: 0 2em;
	box-sizing: border-box;

	transition-property: height;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;

}

#names, #document-name-wrapper {
	display: flex;
	font-size: 0 !important;
}
#names > *,
#document-name-wrapper > * {
	font-size: 1rem;
}

#site-title {
	color: #0F0;
}

#document-name-wrapper {
	font-size: 1rem;
}

#document-name {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	width: 7em;
	text-overflow: ellipsis;
}
#document-name:focus,
#document-name:hover {
	outline: none;
	border-bottom: 1px solid #0F0;
}

#buttons {
	display: flex;
	list-style: none;
}

#buttons li,
#buttons a {
	margin-left: 1em;
	font-family: Roboto, sans-serif;
	color: #CCC;
}
#buttons li:hover,
#buttons a:hover {
	cursor: pointer;
	color: #FFF;
}
i[class="fas fa-cog"] {
	transition-property: transform;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}
i[class="fas fa-cog"]:hover {
    transform: rotate(90deg);
}

#user-list {
	position: fixed;
	bottom: -350px;
	right: 10px;
	z-index: 9001;
	height: 300px;
	max-height: calc(100vh - 50px); /* don't overlap header */
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4),
		-2px 1px 5px rgba(0, 0, 0, 0.2);
	
	transition-property: bottom;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

#user-list.visible {
	bottom: 0;
}

.firepad-userlist {
	display: inline-block;
}

content {
	position: absolute;
	top: 3.5em;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;

	transition-property: top;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

.firepad {
	flex: 1;
}

#firepad-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#result-container {
	flex: 1;
	height: 100%;
	box-sizing: border-box;
	border: none;
}

.cm-s-ambiance .CodeMirror-linenumber {
	color: #CCC;
}

.toast {
	background-color: #333;
}

/*
 * Fullscreen iframe preview via
 * addthing the .fullscreen class
 * to the body
 */
#fs-collapse {
    display: none;
}
body.fullscreen #fs-collapse {
    display: block;
}
body.fullscreen #fs-expand {
    display: none;
}
body.fullscreen #result-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    width: 100vw;
    background-color: white;
}
body.fullscreen header {
    height: 2em;
}
body.fullscreen content {
    top: 2em;
}

/*
 * Full screen on mobile devices
 */
@media only screen and (max-width: 768px) {
	#result-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9000;
		width: 100vw;
		background-color: white;
	}
}
